# db
DATABASE_URL=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@db:5432/<POSTGRES_DB>

# ai keys & models
OPENAI_API_KEY
OPENAI_CHAT_MODEL
OPENAI_TRANSCRIBE_MODEL

# aws
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION

# aws s3 buckets
S3_BUCKET_NAME
S3_SLIDE_IMAGES_FOLDER
S3_AUDIO_SESSIONS_FOLDER

# auth
SECRET_KEY=super-duper-secret
PROFESSOR_PASSWORD_HASH='$2b$12$iANvd11QoeMVjZrtzpAe5.2BsQkK8DmUGrMXhP7lgXXnQf28zqTBO'
# If you keep this hash, the password to login is 'wasatch'

# cors (optional for development)
FE_ORIGIN=http://localhost:3000
COOKIE_SECURE=0 # 1 in production with https

SESSION_TTL_HOURS # Flask’s session lifetime
COOKIE_NAME